

###> symfony/framework-bundle ###
/blog/.env.local
/blog/.env.local.php
/blog/.env.*.local
/blog/config/secrets/prod/prod.decrypt.private.php
/blog/public/bundles/
/blog/var/
/blog/vendor/
/blog/.env
/blog/.env.test
/blog/.env.prod

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/blog/phpunit.xml
/blog/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/blog/.phpunit.result.cache
/blog/phpunit.xml
###< symfony/phpunit-bridge ###
